page-login {
 .fullBody{
        background-image: url("http://skillshare.web44.net/Content/Image/Mobile App/Global/backgoundAppImage.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
 } 
    .bgTrnasp{
    background-color: transparent;
}
     #btnSize{
    height: 35px;
} 
#fotterBtn{
    margin-bottom: 0px;
}
}
