page-specificlanuage {

    .img-circle {
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;  
    }

    .imgCard{
        width:100%;
        margin: 0px;
    }

    hr {
        width: 60%;
    }


    #heading{
        font-size:20px;
        text-align: center;   
    }

    #eyeIcon{
        float: left;
        font-size: 16px;  
        margin-left: 10px;    
    }

    #date{
        font-size:16px;
        float: right;
        margin-right: 10px;
    }

    pre,code {
       
        overflow-x:scroll;
        overflow-y: scroll;
    }
    
    .fotterDiv{
        background-color: #419A1C;
    }
}
