page-userdetails {
.thisCoverImage{
    height: 150px;
    width: 100%;
    border-color: none;
}
.coverImage{
    margin: 0;
    padding: 0;
    margin-top: -15px;
      border-color: none;
}
.proPhoto{
        height: 100px;
        width: 100px;
        margin-top: -60px;
          border-color: none;
    }
    .profileInfo,h2,h3,h5{
        color: black;
    }
}
